.login-card {
    display: block;
    margin-top: 3em;
}

.login-card .card-header {
    height: 16em;
}

.login-card .card-header {
    height: 16em;
    padding: 0em 1em;
    background: url(../img/loginBackground.jpg) no-repeat;
    background-size: cover;
}

.login-card .card-content {
    padding-left: 1em;
    padding-right: 1em;
}

.login-card .card-title {
    display: block;
    line-height: 4;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.87);
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 9px #455a64;
}

.login-card input[type=text]:focus:not([readonly]),
.login-card input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #ef5350;
    box-shadow: 0 1px 0 0 #ef5350;
}

.login-card input[type=text]:focus:not([readonly])+label,
.login-card input[type=password]:focus:not([readonly])+label {
    color: #ef5350;
}
